*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25.),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


/* TOP */
/* #topBanner {
    width: 100%;
    height: 15%;
    border: 5px solid black;


}
#title {
    text-align: left;
    width: 100%;
    font-size: 300%;
}

/* BUTTONS */
/* #buttonMenu {
    width: 100%;
    height: 5%;
}

.button {
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid black;
    width: 10%;
} */ */
