/* 3rd section (big graph) */

.explore {
    background-color: var(--explore-bg-colour);
    padding-bottom: 0em;
    border: 1px solid var(--explore-bg-colour);
    /* idk why but this changes the color of background */
    height: 95vh;
}


/* wrapper  */

.wrapper-explore {
    background-color: var(--explore-bg-colour);
}


/* banner at the top */

#explore-banner {
    margin-top: var(--banner-top-gap);
    margin-bottom: var(--banner-bottom-gap);
    height: var(--banner-height);
}


/* buttons */

.buttons-heading {
    height: 1em;
    width: 1em;
    font-size: 2em;
    width: 100%;
    justify-content: center;
    align-self: center;
    color: rgb(59, 56, 56);
    margin-bottom: 0.75em;
    z-index: 1000
}

@media (max-width: 1095px) {
    .buttons-heading {
        font-size: 1.5em;
    }
}

.drop-elements-big-graph {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
}

.button-container-big-graph {
    height: 100%;
    /* padding-top: 3em; */
    margin-top: 10px;
    margin-right: var(--margin-right);
}

@media (max-width: 750px) {
    .button-container-big-graph {
        margin-right: 0;
    }
}

.drop-button-big-graph {
    position: relative;
    height: 15%;
    width: 90%;
    font-size: 1.2em;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 1em;
    border: none;
    /* border-radius: 5%; */
    box-shadow: 0px 4px 5px rgba(82, 73, 73, 0.5);
    background: linear-gradient(to right, rgba(169, 158, 158, 0.1)50%, rgba(254, 141, 2, 0.2)50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.selected-button {
    /* background: rgba(35, 35, 35, 0.8); */
    border: inline;
    top: 5px;
    left: 4px;
    box-shadow: none;
    background-color: rgba(169, 158, 158, 0.9);
    background-color: rgba(254, 141, 2, 0.2);
}

.drop-button-big-graph:hover {
    /* transform: scale(1.05); */
    transition: all 1s ease;
    background-position: right bottom;
}


/* sliders */

.slider-title-big-graph {
    text-align: left;
}

.slider-div-big-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    transform: translate(0, -2em);
    margin-top: 2em;
}

.slider-big-graph {
    width: 10em;
    color: blue;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0;
    /* padding-bottom: 5vh; */
}

.slider-title {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: grey;
    text-align: center;
    font-size: 1em;
    width: 25em;
    font-family: "arial";
    font-style: italic;
}

input[type="range"] {
    margin-top: 0.5em;
    -webkit-appearance: none;
    margin-right: 15px;
    width: 25vw;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    /* background-image: linear-gradient(#ff4500, #ff4500); */
    background-repeat: no-repeat;
    border: 3px black solid;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

@media (min-width: 600px) {
    .container-detailed-graph-section {
        display: grid;
        grid-template-areas: "graph dropdown" "slider dropdown";
        grid-auto-columns: 75% 25%;
        grid-auto-columns: minmax(0, fr);
        /* padding: 1.5em 10% 0 10%; */
        margin: auto;
    }
    .slider-div-graph-big {
        grid-area: slider;
    }
    .container-graph-big {
        grid-area: graph
    }
    .button-container-big-graph {
        grid-area: dropdown;
    }
}

input {
    height: 80px;
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    /* border: 1px solid #664AFF; */
    cursor: pointer;
}

input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    /* border: 1px solid #664AFF; */
    cursor: pointer;
}

input::-moz-range-progress {
    background: #664AFF;
    /*this progress background is only shown on Firefox8*/
}


/* graph  */

#graph-graph-big {
    background-color: var(--explore-bg-colour);
    margin-left: var(--margin-left);
    /*margin-top: 50px; */
    margin-right: 3em;
    margin-bottom: 0;
}

canvas {
    width: 50px;
    height: 20px;
}

@media (max-height: 700px) {
    #graph-graph-big {
        margin-top: 10px;
    }
}


/* csv data button */


/* CSS */

.download-csv {
    float: right;
    margin-right: calc(var(--margin-right));
    transform: translate(-4em, -7em);
    background-color: #9fa1a2;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 2em;
    margin-top: 2em;
}

.download-csv:hover,
.download-csv:focus {
    background-color: rgb(104, 105, 106);
}

.download-csv:focus {
    box-shadow: 0 0 0 4px rgb(104, 105, 106);
}

.download-csv:active {
    background-color: #0064bd;
    box-shadow: none;
}

@media (max-width: 750px) {
    .download-csv {
        font-size: 0.8em;
    }
}