@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* TO ADD MEDIA QUERIES FOR  */


/* main title 
currently...
readout box padding
buttons padding on explore page 
wtf happens with footer 
slider */

.error {
    position: absolute;
    visibility: hidden;
    color: red;
    font-size: auto;
    width: 75vw;
    text-align: center;
    justify-self: center;
    color: black;
}

@media (max-height: 535px) {
    * {
        visibility: hidden;
    }
    .error {
        visibility: visible;
    }
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

body,
html {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Passion One', cursive;
    --text-fs: 1.5em;
    --header-bg-colour: #463333c5;
    --header-text-colour: rgb(224, 19, 19);
    --readout-box-bg-colour: rgba(0, 0, 0, 0.25);
    --banner-height: 2em;
    --white-text-color: rgba(255, 255, 255, 1);
    --graph-bg-colour: rgba(255, 255, 255, 1);
    --explore-bg-colour: rgb(226, 226, 226);
    --banner-margin-left: 3em;
    --banner-margin-right: 3em;
    --banner-font-size: 1.8em;
    --about-bg-colour: rgb(196, 187, 186);
    --banner-top-gap: 0.5em;
    --banner-bottom-gap: 0.3em;
    --margin-left: 5em;
    --margin-right: 5em;
    --intro-banner-height: 3em;
}

.banner {
    position: relative;
    background: var(--header-bg-colour);
    display: flex;
    align-items: center;
    font-size: var(--banner-font-size);
    justify-content: center;
    justify-self: center;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    height: 3em;
    width: 50%;
    padding-top: 0;
    border-radius: 10%;
    margin-bottom: 10px;
    color: rgb(231, 231, 231);
    /* margin-left: var(--banner-margin-left);
    margin-right: var(--banner-margin-right); */
}

.animate-in {
    animation: wipe-enter 1s 1;
    animation-fill-mode: forwards;
}

.section-title {
    margin: 0;
}

@media (max-width: 812px) {
    .banner {
        width: 75%;
        height: 2em;
    }
}