.intro {
    background-image: url();
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    background-color: var(--explore-bg-colour);
    background-size: cover;
    /* 100vh - sticky footer height */
    overflow: hidden;
}

@media (max-width: 750px) {
    /* .intro {
        height: auto;
    } */
}


/* @media (min-width: 600px) {
    .intro {
        margin: 0;
        height: 100vh;
    }
} */


/* top banner */

.banner-intro {
    font-family: 'Bebas Neue', cursive;
    height: var(--intro-banner-height);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 14vh;
    border-radius: 0;
    background-color: var(--header-bg-colour);
    color: var(--header-text-colour)
}

#sand-logo {
    position: absolute;
    width: 2.8em;
    /* height: calc(0.1*inherit); */
    /* top: 0.1em;
    left: 0.1em; */
    /* Centres the logo vertically in the banner */
    left: 0.1em;
}

@media (max-width: 750px) {
    #sand-logo {
        width: 2em;
    }
}

.banner-intro {
    margin: 0;
}

.intro-title {
    font-size: 3em;
    justify-self: center;
    align-self: center;
}

@media (max-width: 750px) {
    .intro-title {
        font-size: 2em;
    }
}


/* readout boxes */

.wrapper {
    -webkit-appearance: none;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
    left: 50vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 560px) {
    .wrapper {
        top: 60vh;
    }
}

#intro-subtitle {
    -webkit-appearance: none;
    position: relative;
    height: var(--banner-height);
    width: 30vw;
    left: 30vw;
    /* make these 2 the same to keep it centered */
    transform: translateX(-100%);
    justify-self: center;
    align-self: center;
}

@media (max-width: 750px) {
    #intro-subtitle {
        font-size: 1em;
    }
}

.intro-readout-boxes {
    -webkit-appearance: none;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin-top: 2.5em;
    /* height: 100%; */
    height: 70%;
    width: 100%;
    display: grid;
    grid-auto-columns: minmax(0, 0.5fr);
    grid-auto-rows: auto;
    grid-template-areas: ". . subtitle subtitle . ." "temp temp pressure pressure rain rain" ". wind wind humidity humidity .";
    grid-gap: 1em;
    /* width: 100%; */
    /* grid-gap: 3em; */
}


/* @media (max-width:600px) {
    .intro-readout-boxes {
        display: flex;
        flex-direction: column;
    }
} */

#intro-subtitle {
    grid-area: subtitle;
}

#readout-box-rain {
    grid-area: rain
}

#readout-box-temp {
    grid-area: temp;
}

#readout-box-pressure {
    grid-area: pressure
}

#readout-box-wind {
    grid-area: wind;
}

#readout-box-humidity {
    grid-area: humidity
}

.readout-box {
    -webkit-appearance: none;
    height: 8.5em;
    /* aspect-ratio: 1/1; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    /* swap these 2 lines below to getting rid of the wind direction */
    grid-template-rows: 1fr 2fr;
    /* grid-template-rows: 1fr; */
    align-items: center;
    border-radius: 10%;
    /* box-shadow: 0px 4px 5px rgba(82, 73, 73, 0.5); */
    /* Another potential solution if want 1:1 aspect ratio - simply comment out width above and uncomment line below */
    /* transform: translate(50%, 0px); */
    /* Centre divs in their 2 grid spaces */
}

.readout-box-title {
    -webkit-appearance: none;
    margin-top: 0.4em;
    font-size: 2em;
    color: white;
    color: lightgrey;
}

.readout-box-data {
    -webkit-appearance: none;
    color: lightgrey;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3em;
    justify-self: center;
    font-weight: 1000;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}


/* getting rid of wind direction */

#readout-box-data-wind {
    font-size: 2em;
}

@media (max-width: 980px) {
    .readout-box-title {
        font-size: 1.7em;
    }
}

@media (max-width: 886px) {
    .readout-box-title {
        font-size: 1.5em;
    }
}

@media (max-width: 759px) {
    .readout-box-title {
        font-size: 1.3em;
    }
}

@media (max-width: 709px) {
    .readout-box-title {
        font-size: 1em;
    }
    .readout-box-data {
        font-size: 2em;
    }
    /* getting rid of wind direction */
    #readout-box-data-wind {
        font-size: 1.5em;
    }
}


/*  Last updated */

.last-updated {
    color: white;
    margin-left: 2em;
    position: absolute;
    font-size: 1em;
    bottom: 3em;
    border-radius: 10%;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width:788px) {
    .last-updated {
        width: 25vw;
        left: 0.3em;
        font-size: 0.8em;
    }
}

.status-wrapper {
    position: absolute;
    right: 2em;
    top: 15vh;
    ;
    font-size: 1em;
    color: rgb(4, 167, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
    padding: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.status-dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: dot-animation 2s infinite;
    background-color: rgb(4, 167, 40);
    margin-right: 0.5em;
}


/* Photographer credits */

.photo-credit-div {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
    right: 2em;
    font-size: 1em;
    bottom: 2em;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}