footer {
    border: 1px solid var(--about-bg-colour);
    background-color: var(--about-bg-colour);
    /* wtf is this border trick, i will never understand */
}

.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(49, 47, 44);
    justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    height: 5vh;
    font-family: 'Ubuntu', sans-serif;
    color: #fff
}

name {
    font-weight: 200;
    font-style: italic;
    color: rgb(214, 205, 205);
}

.sandringham-link {
    color: white;
    font-style: none;
}

.non-sticky {
    margin-bottom: 3em;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--about-bg-colour);
}

@media (max-width: 500px) {
    .non-sticky {
        font-size: 1em;
    }
}

.links {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.footer-link {
    color: blue;
}

li {
    padding-right: 2em;
}

.custom-hr {
    width: 50%;
    border-top: 2px solid grey;
    padding-bottom: 1em;
}