/* if editing colours, please change JS file too  */

@keyframes dot-animation {
    /* 0% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(4, 167, 40);
    }
    100% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }*/
    0% {
        box-sizing: 0 0 0 15px rgb(4, 167, 40), 0 0 0 10px none, 0 0 0 5px rgb(4, 167, 40);
        background-color: rgb(4, 167, 40);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(4, 167, 40);
        background-color: rgb(4, 167, 40);
    }
    100% {
        box-sizing: 0 0 0 15px, 0 0 0 10px none, 0 0 0 5px rgb(4, 167, 40);
        background-colrgb: rgb(4, 167, 40);
    }
}

@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}


/* if editing colours, please change JS file too  */

@keyframes connecting-dot {
    0% {
        box-sizing: 0 0 0 15px rgb(254, 141, 2), 0 0 0 10px none, 0 0 0 5px rgb(254, 141, 2);
        background-color: rgb(254, 141, 2);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(254, 141, 2);
        background-color: rgb(254, 141, 2);
    }
    100% {
        box-sizing: 0 0 0 15px, 0 0 0 10px none, 0 0 0 5px rgb(254, 141, 2);
        background-color: rgb(254, 141, 2);
    }
}

@keyframes disconnected {
    0% {
        box-sizing: 0 0 0 15px rgb(213, 27, 27), 0 0 0 10px none, 0 0 0 5px rgb(213, 27, 27);
        background-color: rgb(213, 27, 27);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(213, 27, 27);
        background-color: rgb(213, 27, 27);
    }
    100% {
        box-sizing: 0 0 0 15px rgb(213, 27, 27), 0 0 0 10px none, 0 0 0 5px rgb(213, 27, 27);
        background-color: rgb(213, 27, 27);
    }
}