.intro {
    background-image: url();
    background-size: cover;
    height: 100vh;
}


/* top banner */

.banner-intro {
    font-family: 'Bebas Neue', cursive;
    height: 6em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sand-logo {
    position: absolute;
    width: 6em;
    height: calc(0.1*inherit);
    top: 0.1em;
    left: 0.1em;
}

.banner-intro {
    margin: 0;
}

.intro-title {
    font-size: 3em;
}


/* readout boxes */

.wrapper {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-subtitle {
    -webkit-appearance: none;
    position: relative;
    height: var(--banner-height);
    width: 30vw;
    left: 30vw;
    /* make these 2 the same to keep it centered */
    transform: translateX(-100%);
    justify-self: center;
    align-self: center;
}

.intro-readout-boxes {
    -webkit-appearance: none;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin-top: 3em;
    /* height: 100%; */
    width: 70%;
    display: grid;
    grid-auto-columns: minmax(0, 0.5fr);
    grid-auto-rows: auto;
    grid-template-areas: ". . subtitle subtitle . ." "temp temp pressure pressure rain rain" ". wind wind humidity humidity .";
    grid-gap: 1em;
    /* width: 100%; */
    /* grid-gap: 3em; */
}

#intro-subtitle {
    grid-area: subtitle;
}

#readout-box-rain {
    grid-area: rain
}

#readout-box-temp {
    grid-area: temp;
}

#readout-box-pressure {
    grid-area: pressure
}

#readout-box-wind {
    grid-area: wind;
}

#readout-box-humidity {
    grid-area: humidity
}

.readout-box {
    -webkit-appearance: none;
    height: 12em;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    width: 100%;
}

.readout-box-title {
    -webkit-appearance: none;
    margin-top: 0.75em;
    font-size: 2em;
    color: white;
}

.readout-box-data {
    -webkit-appearance: none;
    color: lightgrey;
    width: 100%;
    text-align: center;
    font-size: 3em;
    justify-self: center;
    font-weight: 1000;
    margin-bottom: 1em;
}


/*  Last updated */

.last-updated {
    color: var(--white-text-color);
    margin-left: 2em;
}