.intro {
    background-image: url();
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


/* top banner */

.banner-intro {
    font-family: 'Bebas Neue', cursive;
    height: var(--intro-banner-height);
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0;
    background-color: var(--header-bg-colour);
    color: var(--header-text-colour)
}

#sand-logo {
    position: absolute;
    width: 3.5em;
    height: calc(0.1*inherit);
    /* top: 0.1em;
    left: 0.1em; */
    top: auto;
    /* Centres the logo vertically in the banner */
    left: 0.1em;
}

.banner-intro {
    margin: 0;
}

.intro-title {
    font-size: 3em;
}


/* readout boxes */

.wrapper {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-subtitle {
    -webkit-appearance: none;
    position: relative;
    height: var(--banner-height);
    width: 30vw;
    left: 30vw;
    /* make these 2 the same to keep it centered */
    transform: translateX(-100%);
    justify-self: center;
    align-self: center;
}

.intro-readout-boxes {
    -webkit-appearance: none;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin-top: 1.5em;
    /* height: 100%; */
    height: 70%;
    width: 50%;
    display: grid;
    grid-auto-columns: minmax(0, 0.5fr);
    grid-auto-rows: auto;
    grid-template-areas: ". . subtitle subtitle . ." "temp temp pressure pressure rain rain" ". wind wind humidity humidity .";
    grid-gap: 1em;
    /* width: 100%; */
    /* grid-gap: 3em; */
}

#intro-subtitle {
    grid-area: subtitle;
}

#readout-box-rain {
    grid-area: rain
}

#readout-box-temp {
    grid-area: temp;
}

#readout-box-pressure {
    grid-area: pressure
}

#readout-box-wind {
    grid-area: wind;
}

#readout-box-humidity {
    grid-area: humidity
}

.readout-box {
    -webkit-appearance: none;
    height: 12em;
    /* aspect-ratio: 1/1; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    border-radius: 10%;
    /* box-shadow: 0px 4px 5px rgba(82, 73, 73, 0.5); */
    /* Another potential solution if want 1:1 aspect ratio - simply comment out width above and uncomment line below */
    /* transform: translate(50%, 0px); */
    /* Centre divs in their 2 grid spaces */
}

.readout-box-title {
    -webkit-appearance: none;
    margin-top: 1em;
    font-size: 2em;
    color: white;
}

.readout-box-data {
    -webkit-appearance: none;
    color: lightgrey;
    width: 100%;
    text-align: center;
    font-size: 3em;
    justify-self: center;
    font-weight: 1000;
    margin-bottom: 1em;
    margin-top: 0.4em;
}


/*  Last updated */

.last-updated {
    color: white;
    margin-left: 2em;
    position: relative;
    font-size: 1em;
    top: -2em;
    left: 1em;
}

.status-wrapper {
    position: absolute;
    right: 3em;
    top: 8em;
    font-size: 1em;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.status-dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: dot-animation 1s infinite;
    background-color: green;
    margin-right: 0.5em;
}