/* 3rd section (big graph) */

.explore {
    background-color: var(--explore-bg-colour);
    padding-bottom: 4em;
}


/* wrapper  */

.wrapper-explore {
    background-color: var(--explore-bg-colour);
    border: 1px solid red;
}


/* banner at the top */

#explore-banner {
    margin-top: 5em;
    margin-bottom: 3em;
}


/* buttons */

.buttons-heading {
    height: 1em;
    width: 1em;
    font-size: 2em;
    width: 100%;
    justify-content: center;
    align-self: center;
    color: rgb(59, 56, 56);
    margin-bottom: 0;
}

.drop-elements-big-graph {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.button-container-big-graph {
    height: 100%;
    /* padding-top: 3em; */
    margin-right: var(--margin-right);
}

.drop-button-big-graph {
    position: relative;
    height: 15%;
    width: 90%;
    font-size: 1.2em;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 1em;
    border: none;
    /* border-radius: 5%; */
    background-color: rgba(169, 158, 158, 0.1);
    box-shadow: 0px 4px 5px rgba(82, 73, 73, 0.5);
}

.selected-button {
    /* background: rgba(35, 35, 35, 0.8); */
    border: inline;
    top: 5px;
    left: 4px;
    box-shadow: none;
    background-color: rgba(169, 158, 158, 0.9);
}

.drop-button-big-graph:hover {
    transform: scale(1.05)
}


/* sliders */

.slider-title-big-graph {
    text-align: left;
}

.slider-div-big-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.slider-big-graph {
    width: 10em;
    color: blue;
}

.slider-title {
    margin-top: 1em;
    margin-bottom: 0;
    color: grey;
    text-align: center;
    font-size: 1em;
    width: 25em;
    font-family: "arial";
    font-style: italic;
}

input[type="range"] {
    margin-top: 1em;
    -webkit-appearance: none;
    margin-right: 15px;
    width: 50em;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    /* background-image: linear-gradient(#ff4500, #ff4500); */
    background-repeat: no-repeat;
    border: 3px black solid;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

@media (min-width: 600px) {
    .container-detailed-graph-section {
        display: grid;
        grid-template-areas: "graph dropdown" "slider dropdown";
        grid-auto-columns: 75% 25%;
        grid-auto-columns: minmax(0, fr);
    }
    .slider-div-graph-big {
        grid-area: slider;
    }
    .container-graph-big {
        grid-area: graph
    }
    .button-container-big-graph {
        grid-area: dropdown;
    }
}


/* graph  */

#graph-graph-big {
    background-color: var(--explore-bg-colour);
    margin-left: var(--margin-left);
}