@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Passion One', cursive;
    --header-bg-colour: #bf211e;
    --header-text-colour: white;
    --readout-box-bg-colour: rgba(0, 0, 0, 0.25);
    --banner-height: 3em;
    --white-text-color: white;
    --graph-bg-colour: white;
    --explore-bg-colour: rgb(226, 226, 226);
    --banner-margin-left: 3em;
    --banner-margin-right: 3em;
    --banner-font-size: 1.5em;
    --about-bg-colour: rgb(158, 152, 152);
    --banner-top-gap: 4em;
    --banner-bottom-gap: 3em;
    --margin-left: 5em;
    --margin-right: 5em;
}

.banner {
    position: relative;
    background: var(--header-bg-colour);
    display: flex;
    align-items: center;
    font-size: var(--banner-font-size);
    justify-content: center;
    justify-self: center;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    height: 3em;
    width: 50%;
    padding-top: 0;
    /* margin-left: var(--banner-margin-left);
    margin-right: var(--banner-margin-right); */
}