footer {
    background-color: rgb(49, 47, 44);
    border: 1px solid rgb(49, 47, 44);
    /* wtf is this border trick, i will never understand */
}

.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(49, 47, 44);
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.1em;
}

name {
    font-weight: 200;
    font-style: italic;
    color: rgb(214, 205, 205);
}

.sandringham-link {
    color: rgb(53, 44, 186);
    font-style: none;
}

.non-sticky {
    margin-bottom: 3em;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    font-size: 1.3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

li {
    padding-right: 2em;
}