.about-us {
    background-color: var(--about-bg-colour);
    border: 1px solid var(--about-bg-colour);
    /* same trick as before, zero clue why it works lol  */
    height: 100vh;
}

.about-wrapper {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    border: 1px solid var(--about-bg-colour);
}


/* banner */

#about-banner {
    margin-top: var(--banner-top-gap);
    margin-bottom: var(--banner-bottom-gap);
}


/* main section */

.about-us-contents {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "img1 text1 text1" "text2 text2 img2";
    font-size: var(--text-fs)
}

.about-us-text1 {
    grid-area: text1;
}

.about-us-text2 {
    grid-area: text2;
}

#selfie-img {
    grid-area: img1;
    max-width: 100%;
    max-height: 100%;
}

#pi-img {
    grid-area: img2;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid green;
}