/*Stylisation of boxes in section 1 */

.item-weather-current {
    /* box-shadow: 0 0 3px grey; */
    /* border: 3px solid whitesmoke; */
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    /* max-height: 5em; */
    /* margin-left: 3em; */
}

.subtitle-weather-current {
    color: white;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.variable-weather-current {
    color: white;
    font-size: 250%;
    font-weight: bold;
    margin-top: 0;
}

.section-header {
    font-size: 3em;
    font-style: var(--ff-primary);
    padding-left: 1em;
    padding-bottom: 0;
}

.intro {
    position: relative;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adds background image to first section with mild colour overlay to aid legibibility */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), var(--bgImg);
    background-size: cover;
}

.intro-title {
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.intro-updated {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    transform: translate(0px, 20vh);
}


/* 2nd sections */

.data-graph {
    background: rgb(243, 243, 243);
    background-size: cover;
    height: 50em;
}

.item-weather-current {
    text-align: center;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: 1em;
}

.variable-weather-current {
    font-size: 2.5em;
}

.intro-title {
    font-size: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.item-weather-prediction {
    top: 1em;
}

select {
    width: 25em;
    text-align: center;
}


/*.weather-current {
    text-align: center;
    width: 90%;
    height: 100%;
}*/


/* .list--weather-prediction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.variable-weather-current {
    /* font-size: 3em; */
    /* background: lightblue; */
}

.intro-current-weather-box {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.box-weather-prediction {
    visibility: hidden;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        margin: 0 auto;
        grid-template-areas: "title weather-current";
        /* grid-template-areas: */
        /* "title weather-current"; */
        /* "title weather-current"; */
        grid-template-columns: 50% 50%;
        column-gap: 2rem;
        height: 100vh;
    }
    .intro-title {
        grid-area: title;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }
    .box-weather-prediction {
        max-height: 15rem;
        overflow: scroll;
        border: 5px double var(--clr-dark);
        width: 80%;
        margin: 0 auto;
        grid-area: weather-prediction;
    }
    .intro-current-weather-box {
        position: absolute;
        padding-top: 2.5em;
        display: grid;
        grid-area: weather-current;
        grid-template-areas: "wci1 wci2" "wci3 wci4" "wci5 wci6";
        /* "wci1 wci2"
        "wci1 filler1"
        "wci3 wci4"
        "wci5 filler2"
        "wci5 wci6"; */
        /* grid-template-areas:
        "wci1 wci1 wci2"
        "wci1 wci1 wci3"
        "wci4 wci5 wci6"; */
        text-align: center;
        column-gap: 2em;
        row-gap: 2em;
        width: 90%;
        height: 100%;
        grid-template-columns: 45% 45%;
    }
    #wci1 {
        grid-area: wci1
    }
    #wci2 {
        grid-area: wci2
    }
    #wci3 {
        grid-area: wci3
    }
    #wci4 {
        grid-area: wci4
    }
    #wci5 {
        grid-area: wci5
    }
    #wci6 {
        grid-area: wci6
    }
}