*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --header-bg-colour: red;
    --header-text-colour: white;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25.), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    --bgImg: url();
    /* Declare bgImg variable and set initially to blank so just shows overlay */
}