/* if editing colours, please change JS file too  */

@keyframes dot-animation {
    0% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(4, 167, 40);
    }
    100% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }
}

@keyframes button-hover {
    0% {
        background-color: rgba(169, 158, 158, 0.1);
    }
    50% {
        background-color: radial-gradient(circle, rgba(169, 158, 158, 0.7));
    }
    100% {
        background-color: rgba(169, 158, 158, 0.7);
    }
}

@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}


/* if editing colours, please change JS file too  */

@keyframes connecting-dot {
    0% {
        box-sizing: 0 0 0 15px rgb(254, 141, 2), 0 0 0 10px none, 0 0 0 5px rgb(254, 141, 2);
        background-color: rgb(254, 141, 2);
    }
    50% {
        box-shadow: 0 0 0 3px rgb(173, 103, 24);
        background-color: rgb(254, 141, 2);
    }
    100% {
        box-sizing: 0 0 0 15px rgb(254, 141, 2), 0 0 0 10px none, 0 0 0 5px rgb(254, 141, 2);
        background-color: rgb(254, 141, 2);
    }
}