@keyframes border {
    0% {
        box-shadow: 0px -8px 9px rgba(52, 49, 49, 0.75);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px -8px 9px rgba(52, 49, 49, 0.75);
    }
}

@keyframes dot-animation {
    0% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }
    50% {
        box-shadow: 0 0 0 3px green;
    }
    100% {
        box-sizing: 0 0 0 15px rgb(59, 73, 59), 0 0 0 10px none, 0 0 0 5px rgb(65, 84, 65);
    }
}

@keyframes button-hover {
    0% {
        background-color: rgba(169, 158, 158, 0.1);
    }
    50% {
        background-color: radial-gradient(circle, rgba(169, 158, 158, 0.7));
    }
    100% {
        background-color: rgba(169, 158, 158, 0.7);
    }
}

@keyframes button-hover-2 {
    0% {
        background-color: rgba(169, 158, 158, 0.1);
    }
    50% {
        /* background-color: linear-gradient(to right, rgba(169, 158, 158, 0.9), rgba(169, 158, 158, 0.1)); */
        background-color: red;
    }
    100% {
        background: linear-gradient(to right, red 50%, blue 50%);
        background-size: 200% 100%;
        background-position: left bottom;
    }
}

@keyframes button-hover-3 {
    from {
        background-color: black;
    }
    to {
        background-color: red;
    }
}

@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}