<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Weather Station</title>
    <link rel="icon" href="https://img.icons8.com/doodle/2x/apple-weather.png">

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script> -->






    <!-- <script type="text/javascript" src="../static/main.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/styles_main.css">
    <link rel="stylesheet" href="../static/styles_explore.css">
    <link rel="stylesheet" href="../static/styles_intro.css">
    <link rel="stylesheet" href="../static/styles_footer.css">
    <link rel="stylesheet" href="../static/styles_about.css">
    <link rel="stylesheet" href="../static/styles_animation.css"> -->



    <!-- <script type="text/javascript" src="../static/main.js"></script> -->
    <!-- example of how it should be done -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='main.js')  }}"></script>

    <!-- <script>
        fetch("http://127.0.0.1:5000/data")
        fetch("http://127.0.0.1:5000/background_image")     
        fetch("http://127.0.0.1:5000/images/sunny")     

        window.addEventListener('load', function(){
            fetch("http://127.0.0.1:5000/data")
            fetch("http://127.0.0.1:5000/background_image")
            fetch("http://127.0.0.1:5000/images/sunny")     
        })
    </script> -->
    <link rel="stylesheet" href="{{  url_for('static', filename='styles_main.css')  }}">

    <link rel="stylesheet" href="{{  url_for('static', filename='styles_explore.css')  }}">

    <link rel="stylesheet" href="{{  url_for('static', filename='styles_intro.css')  }}">

    <link rel="stylesheet" href="{{  url_for('static', filename='styles_footer.css')  }}">

    <link rel="stylesheet" href="{{  url_for('static', filename='styles_about.css')  }}">

    <link rel="stylesheet" href="{{  url_for('static', filename='styles_animation.css')  }}">


</head>

<body>
    <h1 class="error">Please view on a bigger screen.</h1>
    <section class="intro">

        <div class="banner-intro banner">
            <img id="sand-logo" src="" alt="">
            <h1 class="intro-title section-title">Weather Station</h1>

        </div>

        <div class="wrapper">

            <div class="intro-readout-boxes">
                <div id="intro-subtitle" class="banner small-banner">
                    <h1 class="section-title">Currently...</h1>
                </div>

                <div id="readout-box-temp" class="readout-box">
                    <div class="readout-box-title readout-temp-title">Temperature</div>
                    <p class="readout-box-data">30</p>
                </div>

                <div id="readout-box-pressure" class="readout-box">
                    <div class="readout-box-title">Pressure</div>
                    <p class="readout-box-data">30</p>
                </div>
                <div id="readout-box-humidity" class="readout-box">
                    <div class="readout-box-title">Humidity</div>
                    <p class="readout-box-data">30</p>
                </div>
                <div id="readout-box-rain" class="readout-box">
                    <div class="readout-box-title">Rain</div>
                    <p class="readout-box-data">30</p>
                </div>
                <div id="readout-box-wind" class="readout-box">
                    <div class="readout-box-title">Wind</div>
                    <p class="readout-box-data" id="readout-box-data-wind">30</p>
                </div>
            </div>
        </div>
        <p class="last-updated">Last Updated: </p>
        <div class="status-wrapper">
            <div class="status-dot"></div>
            <p class="status-text">Status: Connected</p>
        </div>
        <div class="photo-credit-div">
            <p class="photo-credit-p"> Photographer: Isabella Blandford </p>
        </div>

    </section>

    <section class="module explore">
        <div class="wrapper-explore">
            <div id="explore-banner" class="banner">
                <h1 class="section-title">Explore</h1>
            </div>
            <div class="container-detailed-graph-section">
                <div class="container-graph-big">
                    <canvas id="graph-graph-big"></canvas>
                </div>
                <div class="slider-div-big-graph">
                    <p class="slider-title">Drag to adjust time scale</p>
                    <input type="range" class="slider-big-graph">

                </div>
                <div class="button-container-big-graph">
                    <div class="drop-elements-big-graph">
                        <p class="buttons-heading">Select to view...</p>
                        <button class="drop-button-big-graph selected-button" id="temp-button-big-graph">Temperature</button>
                        <button class="drop-button-big-graph" id="pressure-button-big-graph">Pressure</button>
                        <button class="drop-button-big-graph" id="rain-button-big-graph">Rain</button>
                        <button class="drop-button-big-graph " id="wind-button-big-graph">Wind Speed</button>
                        <button class="drop-button-big-graph" id="humid-button-big-graph">Humidity</button>
                    </div>
                </div>
            </div>

            <!-- here you go George -->
            <a href="{{ url_for('csv_data') }}">
                <button class="download-csv">Download Data</button>
            </a>

        </div>
    </section>

    <section class="about-us">
        <div id="about-banner" class="banner">
            <h1 class="section-title">About Us</h1>
        </div>
        <div class="about-wrapper">
            <div class="about-us-contents">
                <p class="about-us-text1">Thank you for visiting our weather station website! What you are seeing is the culmination of over six months of hard work from our team of four Year 12 students (in addition to our photographer, another Year 12 student) at Sandringham
                    School. Each of us bringing our own capabilites to collaborate and build a fully functional weather station.
                    <br> <br> This project was made using a Raspberry Pi 4, installed on the school's site. It is recording a multitude of readings about the current weather, which are then stored and further processed on our server, before being accessed
                    here.
                    <br> <br> See below some quotes from our team, sharing their experiences...
                </p>
                <div class="img-div">
                    <img id="selfie-img" src="" alt="">
                    <p class="img-credit">Credit to Annie Furness</p>
                </div>

                <div class="about-us-quotes">
                    <!-- To-Do: Everyone please add your quote below -->
                    <!-- A sentence or so describing your role in the project, etc. should be more than enough -->
                    <p>&ldquo;This project was really great fun, and I loved working on it. It was also a great way to improve my programming skills. I especially enjoyed designing and developing the front-end of the website - it gave me the opportunity
                        to showcase a project we're all so proud of!&rdquo; - <em>George Angel</em></p>
                    <p>&ldquo;I worked to create the web server in Python that hosts the website and manages a database, allowing me to develop problem-solving skills. I have really enjoyed working on this project as it is one of the few opportunities to
                        work with other people who are equally passionate about programming and Computer Science.&rdquo; - <em>Henry Oldroyd</em></p>
                    <p>&ldquo;Working on the hardware was great fun. I got to create the code to read data from all of the different weather sensors. I was then able to help connect all the sensors to the Raspberry Pi. &rdquo; - <em>Samuel Posner</em></p>
                    <p>&ldquo;As the Project Lead, I was responsible for looking after the coordination/logistics of the project, but also helping with every technical aspect of the system, from the website to the electronics. Of course, nothing would have
                        been possible without all the hard work from my wonderful team of friends - thank you to you all. On behalf of the team, I would also like to thank all the teachers/staff who have supported this project throughout its development.&rdquo;
                        - <em>Devayan Patel</em></p>
                </div>
                <img id="pi-img" src="" alt="">
            </div>
        </div>

    </section>

    <footer>
        <div class="non-sticky">
            <div class="custom-hr"></div>
            <p class="feedback">Thank you for visiting our weather station website. You can find the source code in the links below, as well as how to contact us. Feel free to give us feedback, or ask us any questions. </p>
            <ul class="links">
                <li class="github">
                    <a class="footer-link" target="new" href="https://github.com/henry-oldroyd/raspberry-pi-weather-station">Source code</a>
                </li>
                <li class="sandringham">
                    <a class="footer-link" target="new" href="https://sandringham.herts.sch.uk">School Website</a>
                </li>
                <li class="contact-us"><a target="new" class="footer-link" href="mailto:weather-station@mysandstorm.org">Email us!</a></li>
            </ul>

        </div>

        <div class="sticky">
            <p1 class="people-credits">Created by
                <name>Devayan Patel </name>,
                <!--I just made my own tag -->
                <name>George Angel</name>,
                <name>Henry Oldroyd</name>, and
                <name>Samuel Posner</name>
            </p1>
            <p1 class="sandringham-credits">Supported by <a target="new" class="sandringham-link" href="https://sandringham.herts.sch.uk">Sandringham School</a>, AL4 9NX
            </p1>
        </div>
    </footer>



</body>

</html>