*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25.),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* intro section */
.intro {
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 5rem;

}

.weather-prediction {
    position: relative;
}

.weather-prediction::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: "Weather Predictions";
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: center;
    width: 100%;
    border: 1px solid blue;


}

@media (min-width: 600px) {
    .intro {
        display: grid;
        margin: 0 auto;
        grid-template-areas:
        "title weather-current"
        "weather-prediction weather-current";
        grid-template-columns: 50% 50%;
        column-gap: 2rem;
    }

    .section__title--intro {
        grid-area: title;
        font-size: var(--fs-h1);
        border: 1px solid blue;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }

    .weather-prediction {
        grid-area: weather-prediction;
        max-height: 15rem;
        overflow: scroll;
        border: 1px solid red;

    }

    .list--weather-prediction {

        color: red;
        margin-top: 2.75em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: var(--fs-h3);

    }

    .weather-prediction__item {
        margin-top: 1em;
    }

    .weather-current {
        grid-area: weather-current;



    }







}
