*,
*::before,
*::after {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
.intro-title{
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1{
    text-align: center;
    margin: 0px;
    padding: 2%;
}

/*Stylisation of boxes in section 1 */
.item-weather-current{
    /* box-shadow: 0 0 3px grey; */
    border: 3px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    /* max-height: 5em; */
    /* margin-left: 3em; */

}
.subtitle-weather-current{
    color: white;
    font-weight: bolder;
    border-bottom: 1px solid white;
}
.variable-weather-current{
    color: white;
    font-size: 250%;
    font-weight: bold;
    margin-top: 0;
}


.section-header{
    font-size: 3em;
    font-style: var(--ff-primary);
    padding-left: 1em;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25.),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bgImg: url(images/sunny.png); /* Declare bgImg variable and set (optimistically) to sunny by default */
}

/* intro section */
.intro {
    position: relative;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Adds background image to first section with mild colour overlay to aid legibibility */
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), var(--bgImg);
    background-size: cover;
}

/* 2nd sections */
.data-graph{
    background: rgb(243, 243, 243);
    background-size: cover;
}

.item-weather-current{
    text-align: center;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.variable-weather-current{
    font-size: 2.5em;
}


.intro-title {
    font-size: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.item-weather-prediction {
    top: 1em;
}

select {
    width: 25em;
    text-align: center;

}

/*.weather-current {
    text-align: center;
    width: 90%;
    height: 100%;
}*/

/* .list--weather-prediction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.variable-weather-current{
    /* font-size: 3em; */
    /* background: lightblue; */


}

.intro-current-weather-box{
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

.box-weather-prediction {
    visibility: hidden;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        margin: 0 auto;
        grid-template-areas:
        "title weather-current";

        /* grid-template-areas: */
        /* "title weather-current"; */
        /* "title weather-current"; */
        grid-template-columns: 50% 50%;
        column-gap: 2rem;
        height: 100vh;


    }

    .intro-title{
        grid-area: title;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }

    .box-weather-prediction {
        max-height: 15rem;
        overflow: scroll;
        border: 5px double var(--clr-dark);
        width: 80%;
        margin: 0 auto;
        grid-area: weather-prediction;
    }

    .intro-current-weather-box {
        position: absolute;
        padding-top: 2.5em;
        display: grid;
        grid-area: weather-current;
        grid-template-areas:
        "wci1 wci2"
        "wci3 wci4"
        "wci5 wci6";
        text-align: center;
        column-gap: 2em;
        row-gap: 2em;
        width: 90%;
        height: 100%;
        grid-template-columns: 45% 45%;
    }




    #wci1{grid-area:wci1}
    #wci2{grid-area:wci2}
    #wci3{grid-area:wci3}
    #wci4{grid-area:wci4}
    #wci5{grid-area:wci5}
    #wci6{grid-area:wci6}
}

/* multiple graph section  */
.graph-weather-data{
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: center;
    box-shadow: 0 0 10px grey;
    padding: 1em;
}

.canvas-graph{
    width: 100%;
    height: 100%;
    border: 1px dotted grey;
    margin-bottom: 1em;
}


.container-graph{
    width:80%;

}


@media (min-width: 700px) {
    .container-graph {
        position: relative;
        display: grid;
        grid-template-areas:
        "temp press"
        "humid precip"
        "speed dir";
        width: 100%;

        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }
    #data-temp{grid-area:"temp"}
    #data-pressure{grid-area:"press"}
    #data-humidity{grid-area:"humid"}
    #data-wind-speed{grid-area:"speed"}
    #data-wind-dir{grid-area:"dir"}
    #data-precip{grid-area:"precip"}
}

@media (min-width: 900px) {
    .container-graph{
        grid-template-areas:
        "temp press humid"
        "precip speed dir";
    }
}


.img-containter-compass{
    position: relative;
    width: 100%;
    height: 100%;


}
.img-compass-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 170%;
    height: 150%;
}
.img-compass-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48.5%, -50%) rotate(-45deg);
    z-index: 10;
    width: 70%;
    height: 70%;
}


/* 3rd section (big graph) */
.detailed-graph{
    background: rgb(226, 226, 226);
    background-size: cover;
    padding: 2%;
}

.drop-elements-big-graph{
    display: flex;
    flex-direction: column;
    transform: translate(0,3em);
    align-items: center;
}
/*.slider--big-graph{

    transform:translate(0,3em);

}*/

.slider-title-big-graph{
    text-align: left;
}

.slider-div-big-graph{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* #dropdown{
    font-size: 2em;
    background: rgb(226, 226, 226);
} */

/* .selected-button:hover + .hidden-button{
    visibility: visible;
}
.selected-button:hover + .drop-elements-big-graph{
    visibility: visible;
} */

.drop-button-big-graph{
    padding:0;
    width: 75%;
    height: 3em;
}

.selected-button {
    background: darkgrey;
    width: 75%;
    height: 5em;
}



.hidden-button{
    visibility: hidden;
}

.button-container-big-graph{
    height:100%;
}




@media (min-width: 600px) {
    .container-detailed-graph-section{
        display: grid;
        grid-template-areas:
        "graph dropdown"
        "graph slider";
        grid-auto-columns: 75% 25%;
        grid-auto-columns: minmax(0,fr);

    }

    .slider-div-graph-big{
        grid-area: slider;
    }

    .container-graph-big{
        grid-area: graph
    }

    .button-container-big-graph{
        grid-area: dropdown;
    }
}

/* footer */
.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    background: #3b3936;
    text-align: center;
    height: 3em;
    display: flex;
    flex-direction: column;
}

.sandringham-link{
    color: white;
}
.credits{
    /*background: #423d3a;*/

    display: inline-block;

    color: white;

    margin-top: 1em;
    margin-bottom: 5em;
}
