<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <!-- will added script to an external JS file -->
    <!-- the link is here not in the head os it runs after the relevant element is created -->
    <!-- note that this import statement will be changed on full front and back integration but folder structure won't be changed -->
    <!-- <script type="text/javascript" src="..\static\js\main.js"></script> -->
    <!-- changed path for flask server -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js\main.js') }}"></script> -->
    <!-- url link not by directory -->
    <script type="text/javascript" src="\static\js\main.js"></script>

    <!-- note that this import statement will be changed on full front and back integration but folder structure won't be changed -->
    <!-- <link rel="stylesheet" href="..\static\style\styles.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'style\styles.css') }}"> -->
    <!-- url link not by directory -->
    <link rel="stylesheet" href="\static\style\styles.css">
    <title>Raspberry Pi Project</title>

</head>

<body>

    <div id="topBanner">
        <h1 id="title">TITLE</h1>
    </div>

    <div id="buttonMenu">
        <span>
        <button type="button" id="oneData" class="button">Add one data point</button>
        <button type="button" id="contData" class="button">Continue adding data points</button>
        <button type="button" id="stop" class="button">Stop adding points</button>
        <button type="button" id="getDataButton" class="button">Get Data</button>
        <button type="button" id="makeTable" class="button">Create Table</button>
        </span>
    </div>

    <canvas id="myChart" width="500%" height="300%"></canvas>

    <div class="slidercontainer">
        <input type="range" min="1" max="7" value="1" class="slider" id="slider1">

    </div>

    <table id="table">
        <tr>
            <th>Day</th>
            <th>Light</th>
            <th>Rain</th>

        </tr>
    </table>
</body>
</html>
