<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station M1</title>

    <!-- load JS -->
    <!-- jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- my JS code -->
    <!-- <script defer src="{{ url_for('static', filename='js backend test/main_script.js') }}"></script> -->
    <script defer src="../static/js backend test/main_script.js"></script>
</head>
<body>
    <h1>welcome to the weather station website:</h1>
    <button id="get_data_btn">get weather data</button>
</body>
</html>